.block7-wrap{ width: 100%;
    .head-title{max-width: 960px; margin: 0 auto; padding: 10px;
        .title-text{font-family: 'GothamPro', sans-serif; font-size: 36px; text-align: center; font-weight: 700;  padding-top: 50px; padding-bottom: 20px;opacity: 0; transform:translate3d(-20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
        }
    }
    .crams-line{max-width: 960px; margin: 0 auto;  padding: 10px;padding-bottom: 167px;
        .box-crams{display: inline-block; width: 33%;margin-left: -11px;vertical-align: top;opacity: 0; transform:translate3d(-20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
            .conver-text{ position: relative; display: inline-block; vertical-align: top; margin-bottom: 8px;
                p {font-family: 'GothamPro', sans-serif; font-size: 30px; font-weight: 700; background-color: #ff5e14; color: white; padding-top: 6px; padding-bottom: 6px; padding-left: 20px; padding-right: 20px;}
                &:after{content: ''; position: absolute; right: -11px; top: 0; width: 0; height: 0; border-style: solid; border-width: 23px 0 23px 11px; border-color: transparent transparent transparent #ff5e14;}
            }
            .after-crams{ float: right; vertical-align: top; width: calc(100% - 115px); height: 23px; border-bottom: 2px dotted #747d94; margin-right: 5px; margin-left: 5px;}
            .context-block{font-family: 'GothamPro', sans-serif; font-size: 18px; font-weight: 400; color: black; position: relative; padding-left: 20px; max-width: 240px;
                &:after{content: ''; position: absolute; left: 0; top: 0; width: 2px; height: 54px; background-color: #ff5e14; }
            }

            &:first-child{margin-left: 0px;}
            &:nth-child(2){
                .after-crams{ width: calc(100% - 150px);}
            }
        }

    }
}
.helper-obert{
    .block8-wrap{width: 100%; background-image: url(../images/block8-bg.png); background-position: center center; background-repeat: no-repeat; position: absolute; top: -150px;
        .box-for-content{ max-width: 960px; padding-left: 50px; padding-top: 97px; padding-bottom: 98px; margin: 0 auto 0 auto;
            .head-text{font-family: 'GothamPro', sans-serif; font-size: 28px; line-height: 1.2; font-weight: 400;  color: white; position: relative; max-width: 570px; padding-bottom: 14px;
                span{font-weight: 700; font-size: 24px;}
                &:after{content: ''; width: 90px; height: 2px; position: absolute; bottom: 0; left: 0; background-color: #ff5e14; }
            }
            .afterline-text{font-family: 'GothamPro', sans-serif; font-size: 18px; font-weight: 400; max-width: 470px;color: white;padding-top: 13px;
                span{color:#ff5e14; font-weight: 700;}
            }
        }
    }
}

.block9-wrap{ width: 100% ; background-color: #f5f5f5; background-image: url(../images/block9.jpg); background-repeat: no-repeat; position: relative; padding-top: 220px;background-position: center center;
    .block-for-main{ max-width: 960px; margin:  0 auto;opacity: 1; padding-bottom: 57px;
        .convert-base-block{vertical-align: top; padding: 0 10px 17px 10px;
            .base-half{display: inline-block; max-width: 460px;  border: 8px solid #ff5e14; margin-left: 0px; margin-right: 6px;vertical-align: top; padding: 25px; padding-top: 21px; padding-bottom: 21px;opacity: 0; transform:translate3d(-20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
            &.second-half{
                ul li:first-child{height: 80px;}
            }
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}

                &:nth-child(2){margin-left: 3px;    margin: 0 -3px 0 -3px; padding: 33px; max-width: 460px; margin-right: 0px; border: none; background-image: url(../images/bg-fgh.png);  border-radius: 2px; padding-top: 28px; padding-bottom: 25px; opacity: 0; transform:translate3d(20%,0,0); transition:transform 300ms ease, opacity 400ms ease;background-size: cover;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
                    .head-base {color: white;}
                    .head-base:after { background-color: white;}
                    ul li:before {background-image: url(../images/circle-list2.png);}
                    ul li:after {background-color: white;}
                    ul {border-top: 1px solid white; border-bottom: 1px solid white;}
                    ul li{color: white; height: 60px;}
                    .undertext{color: white;}
                    .undercena{color: white;padding-bottom: 17px;}
                    a{margin-bottom: 6px;}
                    a span{color: white;}
                    .i-am-loading{margin-left: 16px; border: 2px solid white;}
                    .i-am-loading span{text-transform: none;
                        i{font-weight: 700;}
                    }

                }
                .head-base{text-align: left; font-family: 'GothamPro', sans-serif; font-size: 20px; font-weight: 700; padding-bottom: 28px; position: relative;
                    &:after{content: ''; position: absolute; bottom: -2px; left: 0; width: 50px; background-color: black; height: 3px;}
                }
                ul{ padding-left: 35px; padding-right: 35px; height: 350px; border-top: 1px solid #cacaca;border-bottom: 1px solid #cacaca;  padding-top: 26px;
                    li{ font-family: 'GothamPro', sans-serif; font-size: 16px; font-weight: 400; height: 53px; position: relative;
                        &:first-child{height: 62px;}
                        &:nth-child(2){}
                        &:before{content: ''; position: absolute; top: 0px; left: -35px; width: 20px; height: 20px; background-image: url(../images/circle-list.png); }
                        &:after{content: ''; position: absolute; top: 27px; left: -27px; width: 2px; height: 20px; background-color: #cacaca;}
                    }
                }
                .undertext{ text-align: left; font-family: 'GothamPro', sans-serif; font-size: 14px; font-weight: 400;padding-top: 25px; color: black;padding-bottom: 4px;
                    span{ color: #ff5e14 }
                }
                .undercena{font-size: 30px;font-family: 'GothamPro', sans-serif;font-weight: 700; padding-bottom: 16px;
                    span{text-decoration: line-through; font-size: 18px;font-family: 'GothamPro', sans-serif;font-weight: 400; }
                }
                a{display:inline-block; border: 2px solid rgb(255, 94, 20); border-radius: 4px; padding: 11px;text-decoration: none; width: 180px;text-align: center;transition: all 0.7s ease ; background-color: transparent; margin-left: 3px;
                    span{font-size: 16px;font-family: 'GothamPro', sans-serif;font-weight: 400; text-transform: uppercase; line-height: 1.2; color: black; transition: all 0.5s ease ; }
                    &.black{padding: 11px 2px;border-color:black;
                        span{text-transform: inherit;}
                        i{font-weight: bold;}
                    }
                }
                a:hover{background-color:#ff5e14;
                    span{color: white;}
                };
                a:focus{};

            }
        }
        .inferno{display: none;
            .block-under-base{width: 940px; padding:21px 70px 42px; text-align: center; font-size: 18px;font-family: 'GothamPro', sans-serif;font-weight: 400; border-radius: 10px; border: 3px dotted black; margin: 0 auto;opacity: 0; transform:translate3d(-20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
                span{font-size: 24px;font-weight: 700;}
            }
        }
        .satan{
            .socials-block{width: 180px;  background-color: #f5f5f5;margin: -15px auto 0; text-align: center;opacity: 0; transform:translate3d(50%,0,0); transition:transform 300ms ease, opacity 400ms ease;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
                .soc-block{width: 30px; height: 30px; border-radius: 4px; display: inline-block; margin: 0 2px;}
                .vk-block{ background-image: url(../images/vk-soc.png);}
                .fb-block{ background-image: url(../images/gplus.png);}
                .gp-block{ background-image: url(../images/fb.png);}
                .tw-block{ background-image: url(../images/twitter.png);}
            }
        }
    }
}