/*section-one*/
    .section-one{position: relative; background-image: url('../images/spikerBG.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%;
        .spiker-bg{}
        .content{position: relative;     padding: 38px 0 54px 0;
            a,p,span{font-family: 'GothamPro'; font-size: 36px; font-weight: 700; color:#fff;}
            .spiker{position: absolute;bottom: 0; right:-39px; z-index: -1; transform: rotateY(90deg); opacity:0; transition: all 500ms; transition-delay:500ms;
                &.animated{opacity: 1; transform: rotateY(0);}
            }
            .title{    width: 100%;    max-width: 550px;     padding-bottom: 25px;transform: translateX(-100%); opacity:0; transition: all 500ms; transition-delay:500ms;
                &.animated{opacity: 1; transform: translateX(0);}
                p{color: #ff5e14;     letter-spacing: 0.1px;}
                span{line-height: 44px;}
            }
            .date-event{padding: 0 0 22px 15px; position: relative;transform: translateX(-100%); opacity:0; transition: all 500ms; transition-delay:700ms;
                &.animated{opacity: 1; transform: translateX(0);}
                span{font-size: 20px;}
                p{font-weight: 400; font-size: 20px;line-height: 29px;}
                &:before{content: ''; display: block; position: absolute; width: 1px; height: 38px; background-color: #ff5e14; left:0;     top: 5px;}
            }
            .bttn-wrapp{padding-bottom: 40px;transform: translateX(-100%); opacity:0; transition: all 500ms; transition-delay:900ms;
                &.animated{opacity: 1; transform: translateX(0);}
                .bttn{ border: 2px solid #ff5e14; width: 240px; height: 66px; text-align: center; transition: all 500ms; display: inline-block; vertical-align: top; border-radius: 5px;
                    a{font-weight: 400;font-size: 18px; text-transform: uppercase; text-decoration: none;     padding-top: 20px;    letter-spacing: 1px;    display: inline-block;width: 100%;padding-bottom: 23px; }
                    &:hover{background-color: #ff5e14;}
                }
                .bttn-descr{ display: inline-block; width:100%; max-width: 436px;    margin-left: 19px;    padding-top: 17px;
                    p{font-weight: 400;font-size: 12px; color: #9ca1ab; padding-bottom: 2px;}
                }
            }
            .dotted-border{ border-radius: 8px; border: 2px dotted #b4d7ff; width:100%; max-width: 436px;     padding: 23px 29px 13px; transform: translateX(-100%); opacity:0; transition: all 500ms; transition-delay:1100ms;
                &.animated{opacity: 1; transform: translateX(0);}
                span{font-family: 'GeorgiaItalic'; font-size: 15px; color:#b4d7ff; display: inline-block; width: 100%; font-weight: 400;     line-height: 18px;     padding-bottom: 10px;
                    &:last-child{text-align: right;}
                 }
            }
        }
    }
/*END section-one*/
/*section-two*/
    .section-two{overflow: hidden;
        .content{padding: 40px 0 39px 0;
            p{font-family: 'GothamPro'; font-size: 48px; font-weight: 400; color:#000;}
            .title{text-align: center; width: 100%;padding-bottom: 69px;transform: translateX(-150%); opacity:0; transition: all 500ms; transition-delay:500ms;
                &.animated{opacity: 1; transform: translateX(0);}
            }
            .items{ position: relative; padding-left: 26px; width: 100%;transform-origin:50% top; transform:scaleY(0); opacity: 0; transition: all 500ms;
                &.animated{transform:scaleY(1); opacity: 1;}
                .item{text-align: center; float:left; position: relative;
                    .round{ border-radius: 50%; border: 1px solid #ff5e14; width:70px; height: 70px; text-align: center; display: inline-block;margin-bottom: 14px;     padding-top: 17px;
                        p{font-size: 30px; color: #ff5e14; font-weight: 700;}
                    }
                    .txt{text-align: left;
                        p{font-size: 16px; line-height: 19px;}
                    }
                    &:before{content:''; display: block; position: absolute; width:286px; height: 43px; border-style: dotted; border-radius: 5px; border-color:#eee;  top:-50px; }
                    &:nth-child(1){&:before{border-width: 3px 0 0 3px; left: 49%;}}
                    &:nth-child(2){margin-left: 37px;margin-right: -5px;max-width: 298px;
                        &:before{border-width: 0 0 0 3px; left: 49%; border-radius: 0; height: 38px; top:-45px;}
                    }
                    &:nth-child(3){margin-left: 50px;margin-right: -10px;
                        &:before{border-width: 3px 3px 0 0; right: 49%;}
                    }
                }
                &:before{content: ''; display: block; position: absolute; width:49px; height: 2px; background-color: #ff5e14; left:calc(50% - 33px); top:-49px;z-index: 5;}
            }
        }
    }

@media screen and (max-width: 1024px){
    .section-two .content .items .item .txt p{font-size: 14px;line-height: 16px;}
    .section-two .content .items .item:nth-child(3){margin-left: 30px;}
    .section-two .content .items{padding-left: 51px;}

    .section-five .content .table .title-tab p{font-size: 29px !important;max-width: 705px;margin: 0 auto;}
    .section-five .content .title p:last-child {font-size: 12px;}
    .section-five .content .title p:nth-child(5), .section-five .content .title p:nth-child(6){font-size: 13px !important;}
    .section-five .content .title p:nth-child(4){font-size: 13px !important;}
    .section-five .content .table .items .item .txt p{font-size: 17px !important;}
    .bottom-form .bottom-form-title h5 {font-size: 16px !important;}
    section{overflow: hidden;}
    .bottom-form .bottom-form-title h5{font-size: 30px !important;}
    .bottom-form .contact-form-item{margin: 0 -1px;max-width: 200px;}
    .bottom-form .contact-form-item .jq-selectbox__select{min-width: 200px;}
    .header-logo-border{top: 91.8rem;height: 17px;}
    .header-logo-border:after{border-radius: 42%;}
    .helper-obert{height: 155px;}
    .helper-obert .block8-wrap{top: 4px;}
    .block9-wrap{padding-top: 225px;}
}
/*END section-two*/
/*section-thre*/
    .section-three{ margin-bottom: -162px;
        .content{position: relative; background-image: url('../images/section-two-BG.png'); background-repeat: no-repeat; background-position: center; background-size: contain; width: 100%; padding: 94px 0 91px; transform-origin:50% top; transform:scaleY(0); opacity: 0; transition: all 500ms;
            &.animated{transform:scaleY(1); opacity: 1;}
            .text{ text-align: center;
                p{font-family: 'GothamPro'; font-size: 36px; font-weight: 700; color:#fff;line-height: 43px;}
            }
        }
    }
/*END section-thre*/
/*section-four*/
    .section-four{ background-color: #f5f5f5; padding-top: 162px;
        .content{padding: 40px 0 37px 0;
            p{font-family: 'GothamPro'; font-size: 48px; font-weight: 400; color:#000;}
            .title{text-align: center; width: 100%;padding-bottom: 69px;transform: translateX(-150%); opacity:0; transition: all 500ms; transition-delay:500ms;
                &.animated{opacity: 1; transform: translateX(0);}
            }
            .items{ position: relative; padding-left: 26px; width: 100%;transform-origin:50% top; transform:scaleY(0); opacity: 0; transition: all 500ms;
                &.animated{transform:scaleY(1); opacity: 1;}
                .item{text-align: center; float:left; position: relative;
                    .round{ border-radius: 50%; border: 1px solid #96bffb; width:70px; height: 70px; text-align: center; display: inline-block;margin-bottom: 14px;     padding-top: 17px;
                        p{font-size: 30px; color: #96bffb; font-weight: 700;}
                    }
                    .txt{text-align: left;
                        p{font-size: 16px; line-height: 19px;}
                    }
                    &:before{content:''; display: block; position: absolute; width:286px; height: 43px; border-style: dotted; border-radius: 5px; border-color:#eee;  top:-50px; }
                    &:nth-child(1){
                        .round{    margin-left: 14px;}
                        &:before{border-width: 3px 0 0 3px; left: 50%;}
                    }
                    &:nth-child(2){margin-left: 97px;margin-right: -10px;
                        &:before{border-width: 0 0 0 3px; left: 50%; border-radius: 0; height: 38px; top:-45px;}
                    }
                    &:nth-child(3){margin-left: 93px;margin-right: -10px;
                        &:before{border-width: 3px 3px 0 0; right: 50%;}
                    }
                }
                &:before{content: ''; display: block; position: absolute; width:49px; height: 2px; background-color: #96bffb; left:calc(50% - 25px); top:-50px;}
            }
        }
    }
/*END section-four*/
/*section-five*/
    .section-five{position: relative; background-image: url('../images/5BG.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%;
        .content{     padding: 45px 0 84px 0;
            p{font-family: 'GothamPro'; font-size: 36px; font-weight: 700; color:#fff;}
            .title{ text-align: center; padding-bottom: 37px;transform: translateX(-150%); opacity:0; transition: all 500ms; transition-delay:500ms;
                &.animated{opacity: 1; transform: translateX(0);}
                p{
                    &:nth-child(1),&:nth-child(2),&:nth-child(3){margin: 0 -5px;}
                    &:nth-child(4){font-weight: 300; font-size: 20px;padding-top: 51px; position: relative;
                        &:before{content: ''; display: block; position: absolute; width: 140px; height: 1px; background-color: #ff5e14; left: calc(50% - 70px); top:26px;}
                    }
                    &:nth-child(5),
                    &:nth-child(6){font-weight: 300; font-size: 20px;}
                    span{color: #ff5e14;}
                    &:last-child{font-size: 20px;padding-top: 22px;}
                }
            }
            .table{position: relative;transform-origin:50% top; transform:scaleY(0); opacity: 0; transition: all 500ms;
                &.animated{transform:scaleY(1); opacity: 1;}
                &:before{content: ''; display: block;position: absolute; border-bottom: 4px solid #fff; border-right: 4px solid #fff; width:926px; height: 136px;    bottom: -13px;    left: 10px;}
                    &:after{content: ''; display: block;position: absolute;  border-left: 4px solid #fff; width:1px; height: 63px;     bottom: -13px;    left: 10px;}
                .title-tab{ position: relative; text-align: center; padding-bottom: 39px;
                    p{font-size: 27px;}
                    &:before{content: ''; display: block;position: absolute; border-top: 4px solid #fff; border-left: 4px solid #fff; width:126px; height: 53px;top: 26px;    left: 10px;}
                    &:after{content: ''; display: block;position: absolute; border-top: 4px solid #fff; border-right: 4px solid #fff; width:136px; height: 53px;top: 26px;    right:0;}
                }
                .items{position: relative;

                    &:before{content: ''; display: block;position: absolute;  border-left: 4px solid #fff; width:1px; height:106px;    right: 0;    top: 46px;}
                    .item{float:left; width: 33%;
                        .round{border-radius: 50%; border:5px solid #ff5e14; position: relative; width: 25px; height: 25px;    margin-bottom: 16px;
                            &:before{content: ''; display: block;position: absolute; width: 7px; height: 7px; border-radius: 50%; background-color: #ff5e14; top:4px; left:4px;}
                            &:after{content: ''; display: block;position: absolute; background-image: url('../images/doted.png'); background-repeat: no-repeat; background-position: center; width: 268px; height: 3px; top:6px; left:25px;}
                        }
                        .txt{height: 111px;
                            p{font-weight: 400;font-size: 16px; color: #c1c7d1;}
                        }
                        &:nth-child(3n-1){margin-left: 9px;};
                        &:nth-child(3n){margin-left: 10px;width:30%;};
                        &:nth-child(1){
                            &:after{content: ''; display: block;position: absolute;  border-left: 4px solid #fff; width:1px; height: 40px;     left: 10px;    top: 103px;}
                        }
                    }
                }
            }
        }
    }
/*END section-five*/