<header class="header">
    <div class="mbox">
        <div class="header-left">
            <p>Академия обучения</p>
            <p>«SKV Group» представляет:</p>
        </div>
        <div class="header-logo">
            <div class="header-logo-img">
                <img src="images/header-logo.png" alt="" />
            </div>
            <div class="header-logo-border"></div>
        </div>
        <div class="header-right">
            <div class="telefone-text">+7 (495) 382-74-65</div>
            <div class="callback">
                <a href="#callback" class="fancybox">Заказать звонок</a>
            </div>
        </div>
    </div>
</header>

