<header class="header">
    <div class="mbox">
        <div class="header-left">
            <p>Академия лидеров</p>
            <p>«SKV Group» представляет:</p>
        </div>
        <div class="header-logo">
            <div class="header-logo-img">
                <img src="images/header-logo.png" alt="" />
            </div>
            <!-- <div class="header-logo-border"></div> -->
        </div>
        <div class="header-right">
            <div class="telefone-text"><a href="tel:+78129085069">+7 (812) 908-50-69</a>
            </div>
            <div class="callback">
                <a href="#callback" class="fancybox call-back-me">Заказать звонок</a>
            </div>
        </div>
    </div>
</header>

