<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тренинг по ораторскому искусству Джо Язбека "Выступай без страха"</title>
    <meta name="description" content="Тренинг по ораторскому искусству Джо Язбека 'Выступай без страха' Санкт-Петербург">
    <meta id="viewport" name="viewport" content="width=960">
    <meta name="format-detection" content="telephone=no">
    <meta name="MobileOptimized" content="960"/>
    <meta name="HandheldFriendly" content="false"/>

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script src="js/main.js"></script>
</head>
<body>