<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Джо Язбек «Лидерство без границ»</title>
    <meta name="description" content="Впервые в России всемирно известный тренер Джо Язбек с VIP-коучингом «Лидерство без границ»">
    <meta id="viewport" name="viewport" content="width=960">
    <meta name="format-detection" content="telephone=no">
    <meta name="MobileOptimized" content="960"/>
    <meta name="HandheldFriendly" content="false"/>

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
</head>
<body>