<section class="section-six">
    <div class="section-six-wrap animate-section">
        <div class="mbox">
            <div class="section-six-title animate-it">
                <h5>Гарантированный результат</h5>
            </div>
            <div class="section-six-items">
                <div class="section-six-row cfix">
                    <div class="section-six-item item-1 animate-delay" data-count="01">
                        <div class="section-six-item-text">
                            <p>Вы преодолеете свой страх публичных выступлений и научитесь получать от них удовольствие</p>
                        </div>
                    </div>
                    <div class="section-six-item item-2 animate-delay" data-count="02">
                        <div class="section-six-item-text">
                            <p>Вы отработаете способность быть интересным и убедительным, сохранять внимание даже самой большой аудитории</p>
                        </div>
                    </div>
                    <div class="section-six-item item-3 animate-delay" data-count="03">
                        <div class="section-six-item-text">
                            <p>Вы научитесь использовать все возможности вашей речи и овладеете языком тела</p>
                        </div>
                    </div>
                </div>
                <div class="section-six-row cfix">
                    <div class="section-six-item item-4 animate-delay" data-count="04">
                        <div class="section-six-item-text">
                            <p>Вы узнаете, как грамотно выстраивать свое выступление: от презентации нового продукта до ответа на пресс-конференции</p>
                        </div>
                    </div>
                    <div class="section-six-item item-5 animate-delay" data-count="05">
                        <div class="section-six-item-text">
                            <p>Вы отработаете основные ошибки публичных выступлений, чтобы избегать их в будущем</p>
                        </div>
                    </div>
                    <div class="section-six-item item-6 animate-delay" data-count="06">
                        <div class="section-six-item-text">
                            <p>Вы станете увереннее в себе, приобретете новые полезные знакомства и получите массу впечатлений</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>