<section class="section-threteen">

    <div class="mbox">

        <div class="threeteen-title">
            <h4>Место проведения коучинга:</h4>
            <p>г. Санкт-Петербург,  ул. Б. Разночинная, д. 25А</p>
            <p><span>19 - 21 февраля с 12:00 до 19:00</span></p>
        </div>

        <div class="threeteen-content">
            <div class="treeteen-img">
                <img src="images/threeteen-img1.jpg" alt="" />
            </div>
            <div class="treeteen-img">
                <img src="images/threeteen-img2.jpg" alt="" />
            </div>
        </div>

    </div>

</section>