<section class="section-four">

    <div class="mbox">
        <div class="content animate-section">
            <div class="title animate-it">
                <p>ДЛЯ КОГО ?</p>
            </div>
            <div class="items cfix animate-it">
                <div class="item">
                    <div class="round">
                        <p>01</p>
                    </div>
                    <div class="txt">
                        <p>Для руководителей и </p>
                        <p>бизнесменов, которым важно</p>
                        <p>научиться вдохновлять свою</p>
                        <p>команду на результаты нового</p>
                        <p>уровня</p>
                    </div>
                </div>
                <div class="item">
                    <div class="round">
                        <p>02</p>
                    </div>
                    <div class="txt">
                        <p>Для политиков, журналистов, </p>
                        <p>бизнес-тренеров и всех, для </p>
                        <p>кого ораторское мастерство -</p>
                        <p>часть професии</p>
                    </div>
                </div>
                <div class="item">
                    <div class="round">
                        <p>03</p>
                    </div>
                    <div class="txt">
                        <p>Для всех, кто желает</p>
                        <p>научиться быть</p>
                        <p>убедительным во время</p>
                        <p>разговора, совещания,</p>
                        <p>выступления</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>