<section class="section-ten animate-section">

    <div class="mbox">

        <div class="ten-title animate-it">
            Приветствие Джо Язбека для российских лидеров
        </div>

        <div class="ten-content">
            <div class="ten-content-wrap animate-it">
                <a href="https://www.youtube.com/watch?v=-GAskP7Myr0&feature=youtu.be" target="_blank">
                    <img src="images/ten-img.jpg" alt="" />
                </a>
            </div>
        </div>

    </div>

</section>