<section class="section-nine">

<div class="block9-wrap" >
    <div class="helper-obert" >
        <div class="block8-wrap" id="block8">
            <div class="box-for-content ">
                <div class="head-text"> Запишитесь на коучинг от Джо Язбека <span> до <i class='hange-data-fix_next'> 9 декабря 2016</i> года </span></div>
                <div class="afterline-text"> и получите видео-курс «Выступай без страха»  <span><br>на русском языке в подарок</span> </div>
            </div>
        </div>
    </div>

    <div class="block-for-main" id="block9">
        <div class="convert-base-block animate-section" >
            <div class="base-half first-half animate-it">
                <div class="head-base">Закрытый коучинг для бизнесменов, СМИ и общественных деятелей <br>19 февраля 2016</div>
                <ul>
                    <li>Выступление Джо Язбека перед аудиторией бизнесменов, СМИ и политических деятелей</li>
                    <li>Раздаточный материал</li>
                    <li>Кофе-брейк</li>
                    <li>Фотосессия со спикером</li>
                    <li>Видеозапись коучинга в подарок</li>
                </ul>
                <div class="undertext">Билеты в продаже <!--<span class="change-data-fix-two"></span>--> <span>до 28 декабря</span>  </div>
                <div class="undercena">8000 руб.</div>

                <a href="#callback" class="i-am-in fancybox form-count send_5000" data-count="8000 руб.">

                    <span>Участвую</span>
                </a>
                <a href="#callback" class="fancybox i-am-loading black">
                    <span>Осталось <i> 41 место </i> </span>
                </a>
            </div>

            <div class="base-half second-half animate-it">
                <div class="head-base">VIP-Коучинг для особо заинтересованых персон <br>20 февраля 2016</div>
                <ul>
                    <li>Персональный закрытый коучинг <br>для состоявшихся успешных бизнесменов, политиков, чиновников не более 25 человек</li>
                    <li>Индивидуальный разбор особенностей кейса каждого слушателя, разработка решений</li>
                    <li>Фуршет и фотосессия со спикером</li>
                    <li>Поддержка по скайп после Коучинга</li>
                    <li>Книга «Бесстрашный оратор» с автографом автора и видеозапись коучинга в подарок</li>
                </ul>
                <div class="undertext">Билеты в продаже <!--<span class="change-data-fix-two"></span>--> <span>до 28 декабря</span> </div>
                <div class="undercena">30 000 руб. </div>

                <a href="#callback" class="fancybox i-am-in form-count send_25000" data-count="25 000 руб. ">

                    <span>Участвую</span>
                </a>
                <a href="#callback" class="fancybox i-am-loading">
                    <span>Осталось <i> 15 мест </i> </span>
                </a>
            </div>
        </div>
        <div class="inferno animate-section">
            <div class="block-under-base animate-it">
                <span>Чтобы получить дополнительную скидку в размере 10%, </span> поделитесь информацией о коучинге Джо Язбека на своей странице в соц.сетях и пусть по вашей рекомендации придут ваши друзья и знакомые. Вместе работать на Коучинге будет продуктивнее и веселее!
            </div>
        </div>
        <div class="satan animate-section">
            <div class="socials-block animate-it">
                <script type="text/javascript">(function() {
                  if (window.pluso)if (typeof window.pluso.start == "function") return;
                  if (window.ifpluso==undefined) { window.ifpluso = 1;
                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                    var h=d[g]('body')[0];
                    h.appendChild(s);
                  }})();</script>
                <div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,facebook,google,twitter" data-url="http://yazbek.ru/" data-title="Джо Язбек «Лидерство без границ»" data-description="Впервые в России
                всемирно известный тренер Джо Язбек с VIP-коучингом «Лидерство без границ»"></div>
            </div>
        </div>
    </div>
</div>
</section>