<section class="section-eleven">
    <div class="mbox">
        <div class="rewiews-title">Отзывы о Джо Язбеке и его методике</div>
        <div class="reviews-slider">

            <div class="reviews-item">
                <div class="rewiews-item-main oneHeight">
                    <div class="rewiews-img">
                        <img src="images/rewiews-img1.png" alt="" />
                    </div>
                    <div class="rewiews-title-item">Евгений Котов</div>
                    <div class="rewiews-subtitle">
                        <p>основатель компании</p>
                        <p>“Practicum Group”</p>
                    </div>
                    <div class="rewiews-text">
                        <p>“Я являюсь спикером более 10 лет, только в прошлом - 2014 году я провел семинары и тренинги для более 10 000 человек. Когда я читаю книги по ораторскому искусству, то всегда взвешиваю материал исключительно с точки зрения практического применения. Книга "Выступай без страха" является свое рода руководством и ориентиром для любого, кто хочет эффективно выступать перед любой аудиторией. Легко читается, легко усваивается, легко применяется.”</p>
                    </div>
                </div>
            </div>
            <div class="reviews-item">
                <div class="rewiews-item-main oneHeight">
                    <div class="rewiews-img">
                        <img src="images/rewiews-img2.png" alt="" />
                    </div>
                    <div class="rewiews-title-item">Сергей Миронов</div>
                    <div class="rewiews-subtitle">
                        <p>лидер партии</p>
                        <p>“Справедливая Россия”</p>
                    </div>
                    <div class="rewiews-text">
                        <p>"...Культура устной речи - это часть общей культуры человека. Ну а умение выступать публично, завладевать вниманием слушателей, способность убеждать их - это еще более высокая ступень, на которую необходимо подняться любому образованному человеку, претендующему на активную позицию в общественной жизни. В этом плане книга «Бесстрашный оратор» мне представляется весьма полезной не только для политиков, чиновников или представителей иных профессий, связанных с постоянными публичными выступлениями, но для самого широкого круга читателей".</p>
                    </div>
                </div>
            </div>
            <div class="reviews-item">
                <div class="rewiews-item-main oneHeight">
                    <div class="rewiews-img">
                        <img src="images/rewiews-img3.png" alt="" />
                    </div>
                    <div class="rewiews-title-item">Игорь Манн</div>
                    <div class="rewiews-subtitle">
                        <p>консультант, издатель,</p>
                        <p>бизнес спикер, автор</p>
                    </div>
                    <div class="rewiews-text">
                        <p>Считается, что страх публичного выступления один из самых больших страхов человека. И если вы до сих пор боитесь встать и сказать прочитайте эту книгу и больше не бойтесь. Вам нечего будет бояться книга снимет все опасения, сомнения, страхи и переживания.  Выступайте смелее! Смелее за чтение!</p>
                    </div>
                </div>
            </div>
            <div class="reviews-item">
                <div class="rewiews-item-main oneHeight">
                    <div class="rewiews-img">
                        <img src="images/rewiews-img1.png" alt="" />
                    </div>
                    <div class="rewiews-title-item">Евгений Котов</div>
                    <div class="rewiews-subtitle">
                        <p>основатель компании</p>
                        <p>“Practicum Group”</p>
                    </div>
                    <div class="rewiews-text">
                        <p>“Я являюсь спикером более 10 лет, только в прошлом - 2014 году я провел семинары и тренинги для более 10 000 человек. Когда я читаю книги по ораторскому искусству, то всегда взвешиваю материал исключительно с точки зрения практического применения. Книга "Выступай без страха" является свое рода руководством и ориентиром для любого, кто хочет эффективно выступать перед любой аудиторией. Легко читается, легко усваивается, легко применяется.”</p>
                    </div>
                </div>
            </div>
            <div class="reviews-item">
                <div class="rewiews-item-main oneHeight">
                    <div class="rewiews-img">
                        <img src="images/rewiews-img2.png" alt="" />
                    </div>
                    <div class="rewiews-title-item">Сергей Миронов</div>
                    <div class="rewiews-subtitle">
                        <p>лидер партии</p>
                        <p>“Справедливая Россия”</p>
                    </div>
                    <div class="rewiews-text">
                        <p>"...Культура устной речи - это часть общей культуры человека. Ну а умение выступать публично, завладевать вниманием слушателей, способность убеждать их - это еще более высокая ступень, на которую необходимо подняться любому образованному человеку, претендующему на активную позицию в общественной жизни. В этом плане книга «Бесстрашный оратор» мне представляется весьма полезной не только для политиков, чиновников или представителей иных профессий, связанных с постоянными публичными выступлениями, но для самого широкого круга читателей".</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>