<section class="section-one">
    <div class="spiker-bg"></div>
    <div class="mbox">
        <div class="content animate-section">
            <div class="spiker animate-it"><img src="images/spiker.png" alt="spiker"></div>
            <div class="title animate-it">
                <p>Впервые в России</p>
                <span>всемирно известный тренер Джо Язбек с VIP-коучингом «Лидерство без границ»</span>
            </div>
            <div class="date-event animate-it">
                <span>19-20 февраля 2016 года</span>
                <p>с 12:00 до 19:00</p>
            </div>
            <div class="bttn-wrapp animate-it">
                <div class="bttn">
                    <a href="#callback" class="fancybox send-we-are-in">Участвовать</a>
                </div>
                <div class="bttn-descr">
                    <p>Коучинги проходят</p>
                    <p>с русским переводчиком</p>
                </div>
            </div>
            <div class="dotted-border animate-it">
                <span>«My mission is to facilitate leaders in becoming dynamic powerful communicators so they can significantly influence the world around them»</span>
                <span>«Моя цель – создание сильных и успешных законодателей мнений, которые меняют мир к лучшему»</span>
                <span>Joe Yazbeck / Джо Язбек</span>
            </div>
        </div>
    </div>
</section>