<section class="section-five">
    <div class="mbox animate-section">
        <div class="content">
            <div class="title animate-it">
                <p>Джо Язбек впервые выступает перед</p>
                <p>российской аудиторией предпринимателей</p>
                <p>После коучинга Джо Язбека вы никогда не будете прежними. Он</p>
                <p>поделится с вами секретами и гигантским опытом в управлении</p>
                <p>людьми и их вдохновением на поставленные цели</p>
            </div>
            <div class="table animate-it">
                <div class="title-tab">
                    <p>Джо Язбек в своей артистичной и яркой</p>
                    <p>манере донесет до аудитории следующие вещи:</p>
                </div>
                <div class="items cfix">
                    <div class="item">
                        <div class="round"></div>
                        <div class="txt">
                            <p>Как суметь вдохновить</p>
                            <p>других людей со страстью</p>
                            <p>авторитетностью и искренностью</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="round"></div>
                        <div class="txt">
                            <p>Как сделать, чтобы команда</p>
                            <p>была вдохновлена вами, доверяла,</p>
                            <p>была замотивирована на тот</p>
                            <p>результат, который нужен вам</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="round"></div>
                        <div class="txt">
                            <p>Как побороть личные страхи</p>
                            <p>и разрушить скорлупу, которая</p>
                            <p>сковывает и мешает вам </p>
                            <p>добиться новых целей</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="round"></div>
                        <div class="txt">
                            <p>Как стать законодателем мнений</p>
                            <p>и авторитетом для вашего круга</p>
                            <p>общения</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="round"></div>
                        <div class="txt">
                            <p>Как раскрыть свой собственный</p>
                            <p>потенциал публичности,</p>
                            <p>оставаясь честным с самим</p>
                            <p>собой, без чуждых вам клише</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="round"></div>
                        <div class="txt">
                            <p>Научит верить в себя</p>
                            <p>и добиваться с легкостью</p>
                            <p>доверия партнеров,</p>
                            <p>сотрудников, команды</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>