<section class="section-one">
    <div class="spiker-bg"></div>
    <div class="mbox">
        <div class="content animate-section">
            <div class="spiker animate-it"><img src="images/spiker.png" alt="spiker"></div>
            <div class="title animate-it">
            <p>Впервые в России <span>всемирно известный спикер Джо Язбек с тренингом ораторского мастерства <b>«Выступай без страха»</b></span></p>

            </div>
            <div class="date-event animate-it">
                <span>16 и 19 апреля 2016 г.</span>
                <p>г. Санкт-Петербург</p>
            </div>
            <div class="bttn-wrapp animate-it">
                <div class="bttn">
                    <a href="#callback" class="fancybox send-we-are-in">Участвовать</a>
                </div>
                <div class="bttn-descr">
                    <p>Тренинги проходят </p>
                    <p>с последовательным</p>
                    <p>переводом, с передачей</p>
                    <p>всех идей и эмоций</p>
                </div>
            </div>
            <div class="dotted-border animate-it">
                <span>«My mission is to facilitate leaders in becoming dynamic powerful communicators so they can significantly influence the world around them»</span>
                <span>«Моя цель – создание сильных и успешных законодателей мнений, которые меняют мир к лучшему»</span>
                <span>Joe Yazbeck / Джо Язбек</span>
            </div>
        </div>
    </div>
</section>