<section class="section-twelve">
    <div class="mbox">

        <div class="twelve-wrap animate-section">
            <div class="twelve-img animate-delay">
                <a href="images/twelve-img1-big.jpg" class="fancybox">
                    <div class="twelve-img-wrap">
                        <img src="images/twelve-img1.jpg" alt="" />
                    </div>
                </a>
            </div>
            <div class="twelve-img animate-delay">
                <a href="images/twelve-img2-big.jpg" class="fancybox">
                    <div class="twelve-img-wrap">
                        <img src="images/twelve-img2.jpg" alt="" />
                    </div>
                </a>
            </div>
            <div class="twelve-img animate-delay">
                <a href="images/twelve-img3-big.jpg" class="fancybox">
                    <div class="twelve-img-wrap">
                        <img src="images/twelve-img3.jpg" alt="" />
                    </div>
                </a>
            </div>
            <div class="twelve-img animate-delay">
                <a href="images/twelve-img4-big.jpg" class="fancybox">
                    <div class="twelve-img-wrap">
                        <img src="images/twelve-img4.jpg" alt="" />
                    </div>
                </a>
            </div>
            <div class="twelve-img animate-delay">
                <a href="images/twelve-img5-big.jpg" class="fancybox">
                    <div class="twelve-img-wrap">
                        <img src="images/twelve-img5.jpg" alt="" />
                    </div>
                </a>
            </div>
            <div class="twelve-img animate-delay">
                <a href="images/twelve-img6-big.jpg" class="fancybox">
                    <div class="twelve-img-wrap">
                        <img src="images/twelve-img6.jpg" alt="" />
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>