<section class="section-nine">

<div class="block9-wrap" >
    <div class="helper-obert" >
        <div class="block8-wrap" id="block8">
            <div class="box-for-content ">
                <div class="head-text"> Запишитесь на коучинг от Джо Язбека <span> до <i class='hange-data-fix_next'> 9 декабря 2016</i> года </span></div>
                <div class="afterline-text"> и получите видео-курс «Выступай без страха»  <span><br>на русском языке в подарок</span> </div>
            </div>
        </div>
    </div>

    <div class="block-for-main" id="block9">
        <div class="convert-base-block animate-section" >
            <div class="base-half first-half animate-it">
                <div class="head-base">Закрытый коучинг для бизнесменов, СМИ и общественных деятелей 19 февраля 2016</div>
                <ul>
                    <li>Выступление Джо Язбека перед аудиторией бизнесменов, СМИ и политических деятелей</li>
                    <li>Раздаточный материал</li>
                    <li>Кофе-брейк</li>
                    <li>Фотосессия со спикером</li>
                    <li>Видеозапись коучинга в подарок</li>
                </ul>
                <div class="undertext">Билеты можно приобрести <span class="change-data-fix-two"></span>  </div>
                <div class="undercena">8000 руб.</div>
                <a href="#callback" class="i-am-in fancybox send_5000">
                    <span>Участвую</span>
                </a>
                <a href="#callback" class="fancybox i-am-loading black">
                    <span>Осталось <i> 41 мест </i> </span>
                </a>
            </div>

            <div class="base-half second-half animate-it">
                <div class="head-base">VIP-Коучинг для особо заинтересованых персон <br>20 февраля 2016</div>
                <ul>
                    <li>Персональный закрытый коучинг <br>для состоявшихся успешных бизнесменов, политиков, чиновников не более 25 человек</li>
                    <li>Индивидуальный разбор особенностей кейса каждого слушателя, разработка решений</li>
                    <li>Фуршет и фотосессия со спикером</li>
                    <li>Поддержка по скайп после Коучинга</li>
                    <li>Книга «Бесстрашный оратор» с автографом автора и видеозапись коучинга в подарок</li>
                </ul>
                <div class="undertext">Билеты можно приобрести <span class="change-data-fix-two"></span> </div>
                <div class="undercena">25 000 руб. </div>
                <a href="#callback" class="fancybox i-am-in send_25000">
                    <span>Участвую</span>
                </a>
                <a href="#callback" class="fancybox i-am-loading">
                    <span>Осталось <i> 15 мест </i> </span>
                </a>
            </div>
        </div>
        <div class="inferno animate-section">
            <div class="block-under-base animate-it">
                <span>Чтобы получить дополнительную скидку в размере 10%, </span> поделитесь информацией о коучинге Джо Язбека на своей странице в соц.сетях и пусть по вашей рекомендации придут ваши друзья и знакомые. Вместе работать на Коучинге будет продуктивнее и веселее!
            </div>
        </div>
        <div class="satan animate-section">
            <div class="socials-block animate-it">
                <a href="#" class="vk-block soc-block"></a>
                <a href="#" class="gp-block soc-block"></a>
                <a href="#" class="fb-block soc-block"></a>
                <a href="#" class="tw-block soc-block"></a>
            </div>
        </div>
    </div>
</div>
</section>