<section class="section-twelve">
    <div class="mbox">

        <div class="twelve-wrap">
            <div class="twelve-img">
                <div class="twelve-img-wrap">
                    <img src="images/twelve-img1.jpg" alt="" />
                </div>
            </div>
            <div class="twelve-img">
                <div class="twelve-img-wrap">
                    <img src="images/twelve-img2.jpg" alt="" />
                </div>
            </div>
            <div class="twelve-img">
                <div class="twelve-img-wrap">
                    <img src="images/twelve-img3.jpg" alt="" />
                </div>
            </div>
            <div class="twelve-img">
                <div class="twelve-img-wrap">
                    <img src="images/twelve-img4.jpg" alt="" />
                </div>
            </div>
            <div class="twelve-img">
                <div class="twelve-img-wrap">
                    <img src="images/twelve-img5.jpg" alt="" />
                </div>
            </div>
            <div class="twelve-img">
                <div class="twelve-img-wrap">
                    <img src="images/twelve-img6.jpg" alt="" />
                </div>
            </div>
        </div>

    </div>
</section>