<section class="section-six">
    <div class="section-six-wrap animate-section">
        <div class="mbox">
            <div class="section-six-title animate-it">
                <h5>Основные темы коучинга от Джо Язбека:</h5>
            </div>
            <div class="section-six-items">
                <div class="section-six-row cfix">
                    <div class="section-six-item item-1 animate-delay" data-count="01">
                        <div class="section-six-item-text">
                            <p>Лидерство как способ увеличения продуктивности и эффективности бизнеса</p>
                        </div>
                    </div>
                    <div class="section-six-item item-2 animate-delay" data-count="02">
                        <div class="section-six-item-text">
                            <p>Стратегическое планирование: необходимые шаги чтобы гарантировать<br>рост компании</p>
                        </div>
                    </div>
                    <div class="section-six-item item-3 animate-delay" data-count="03">
                        <div class="section-six-item-text">
                            <p>Успешный <br>найм и обучение<br>персонала</p>
                        </div>
                    </div>
                </div>
                <div class="section-six-row cfix">
                    <div class="section-six-item item-4 animate-delay" data-count="04">
                        <div class="section-six-item-text">
                            <p>Повышение уровня производительности сотрудников</p>
                        </div>
                    </div>
                    <div class="section-six-item item-5 animate-delay" data-count="05">
                        <div class="section-six-item-text">
                            <p>Инструменты достижения мастерства в искусстве переговоров</p>
                        </div>
                    </div>
                    <div class="section-six-item item-6 animate-delay" data-count="06">
                        <div class="section-six-item-text">
                            <p>Эффективное <br>и эффектное <br>выступление</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>