<section class="section-seven">
<div class="block7-wrap" id="block7">
    <div class="head-title animate-section">
        <div class="title-text animate-it">Гарантированный результат</div>
    </div>
    <div class="crams-line animate-section">
        <div class="box-crams animate-delay">
            <div class="conver-text"> <p>Вы</p></div>
            <div class="after-crams"></div>
            <div class="context-block"> сильный лидер, которого слушают и хотят идти к вашей цели</div>
        </div>
        <div class="box-crams animate-delay">
            <div class="conver-text"><p> Ваша </p></div>
            <div class="after-crams"></div>
            <div class="context-block"> команда работает плечом к плечу с "горящими глазами" и она замотивирована на успех</div>
        </div>
        <div class="box-crams animate-delay">
            <div class="conver-text"> <p>Вы </p></div>
            <div class="after-crams"></div>
            <div class="context-block">мыслите по – новому, не боитесь выражать свои мысли и быть лидером мнений</div>
        </div>
    </div>
</div>

</section>