<section class="section-threteen animate-section">

    <div class="mbox">

        <div class="threeteen-title animate-it">
            <h4>Место проведения тренинга:</h4>
            <p>Санкт-Петербург,  Б. Разночинная, 25А</p>
            <p><span>16 - 19 апреля с 12:00 до 19:00</span></p>
        </div>

        <div class="threeteen-content animate-it">
            <div class="treeteen-img">
                <img src="images/threeteen-img1.jpg" alt="" />
            </div>
            <div class="treeteen-img">
                <img src="images/threeteen-img2.jpg" alt="" />
            </div>
        </div>

    </div>

</section>