<section class="section-four">

    <div class="mbox">
        <div class="content animate-section">
            <div class="title animate-it">
                <p>ДЛЯ КОГО</p>
            </div>
            <div class="items cfix animate-it">
                <div class="item">
                    <div class="round">
                        <p>01</p>
                    </div>
                    <div class="txt">
                        <p>Для лидеров, которые хотят</p>
                        <p>стать известными за счет</p>
                        <p>своей харизмы и умению</p>
                        <p>выступать публично</p>
                    </div>
                </div>
                <div class="item">
                    <div class="round">
                        <p>02</p>
                    </div>
                    <div class="txt">
                        <p>Для управленцев, которым</p>
                        <p>сложно дается  мотивация</p>
                        <p>команды на результаты</p>
                        <p> нового уровня и грамотное</p>
                        <p>делегирование</p>
                    </div>
                </div>
                <div class="item">
                    <div class="round">
                        <p>03</p>
                    </div>
                    <div class="txt">
                        <p>Для людей, которые хотят</p>
                        <p>убрать барьеры и страхи,</p>
                        <p>мешающие взять новую</p>
                        <p>планку в жизни</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>