<section class="section-five">
    <div class="mbox animate-section">
        <div class="content">
            <div class="title animate-it">
                <p>Программа тренинга</p>
            </div>
            <div class="sect-f-center cfix">
                <div class="sect-f-item">
                    <div class="sect-f-item-wrap">
                        <div class="sect-f-item-mark">
                            <p>Часть 1</p>
                        </div>
                        <div class="sect-f-item-title">
                            «Композиция выступления»
                        </div>
                        <div class="sect-f-item-text">
                            как детально и последовательно выстроить алгоритм беспроигрышного выступления
                        </div>
                    </div>
                </div>
                <div class="sect-f-item">
                    <div class="sect-f-item-wrap">
                        <div class="sect-f-item-mark">
                            <p>Часть 2</p>
                        </div>
                        <div class="sect-f-item-title">
                            «Магнетизм оратора»
                        </div>
                        <div class="sect-f-item-text">
                            как обрести тот самый магнетизм, который приковывает, покоряет аудиторию
                        </div>
                    </div>
                </div>
                <div class="sect-f-item">
                    <div class="sect-f-item-wrap">
                        <div class="sect-f-item-mark">
                            <p>Часть 3</p>
                        </div>
                        <div class="sect-f-item-title">
                            «Как побудить аудиторию к действию»
                        </div>
                        <div class="sect-f-item-text">
                            как научиться вдохновлять, вести за собой и получать желаемый результат от аудитории
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>